.header-container {
  width: 100vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 86, 0); /*style is temporary */
}

.header-title {
  text-align: center;
  padding: 30px; /*style is temporary */
  color: aliceblue; /*style is temporary */
  font-size: 8rem; /*style is temporary */
}