.header {
  height: 25vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  border: 5px solid blue;
}

.establishment__name {
  width: 75%;
  margin: 0 0 0 1%;
  padding: 16px;
  border: 3px solid green;
  font-size: 6rem;
}

.icon__container {
  height: 100%;
  width: 25%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 9vh 14vh;
  border: 5px solid orange;
}

.review__carousel {
  height: 50vh;
  width: 100Vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 5px solid red;
}

.review__card {
  height: 40vh;
  width: 25Vw;
  margin: 0 3%;
  border: 3px solid green;
  border-radius: 8px;
}